<footer class="main-footer">
  <div class="d-flex justify-content-between ">
    <div>
      <strong>Copyright &copy; 2020 Feather Fall.</strong>
      All rights reserved.
    </div>
    <div class="nav-item">
      <a href="https://github.com/wiredzenith/FallDetection"   >
        <span class="text-primary ion ion-social-github" style="font-size: 20px"></span>
      </a>

    </div>
    <div>
      <b>Version</b> Alpha
    </div>
  </div>
</footer>