<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="https://eu.ui-avatars.com/api/?background=0D8ABC&color=fff&name=FF" alt="User Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Feather Fall</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <a href="#" class="d-block text-light">
        <div class="image pr-1">
          <img src="https://api.adorable.io/avatars/32/{{{currentUser}}}.png" class="img-circle elevation-2"
            alt="User Image">
        </div>
        <span class="brand-text font-weight-light">{{{currentUser}}}</span>
      </a>
    </div>

    <!-- Sidebar -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/" class="nav-link {{#if active_dashboard}}active{{/if}}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/contacts" class="nav-link {{#if active_contacts}}active{{/if}}">
            <i class="nav-icon fas fa-user-alt"></i>
            <p>
              Contacts
            </p>
          </a>
        </li>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>