

<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-6 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{cCon}}</h3>

              <p>No. of contacts</p>
            </div>
            <div class="icon">
              <i class="ion ion-chatbox-working"></i>
            </div>
            <a href="/contacts" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{cAcc}}</h3>

              <p>Registerd Users</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="/" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-12"> 
          <h2 class="m-0 text-dark">Feather Fall Dashboard</h2>
          <p class="post"> This dashboard displays information about the number of users 
            registered to your device and the contacts subscribed to receive alerts.</p>
            <p class="post">To get started head over to the <a href="/contacts">contacts page</a> and add details for the 
            people you want to receive emergency notifications. </p>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>